/* ===================== Tag Main ===================== */
body {
  font-family: "Kanit", sans-serif !important;
  font-weight: 400;
  background-color: #000 !important;
  color: #fff !important; }

/* ===================== Classes Main ===================== */
/* ===================== Page Main ===================== */
/* ===================== Responsive ===================== */
